<!--
<div class="container page-content">
	<div class="row">
		<div class="span8">
			<div class="box-container">
				<div class="cycle-slideshow"
					data-cycle-fx=fade
					data-cycle-timeout=0
					data-cycle-swipe=true
					data-cycle-pager="#adv-custom-pager"
					data-cycle-pager-template='<a href="#" ><img src="{{src}}"></a>'

-->